.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

  .delius-regular {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
  }
  